<div class="row borderHeading">
  <div class="col-xs-12 text-center heading padding-top-bottom">
    <h2>Astrology</h2>
  </div>
      </div>
  <div class="row background">
    <div class="col-md-3 col-xs-12">
      <ol class="breadcrumb subMenu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Data</li>
      </ol>
    </div>
    <breadcrum></breadcrum>
  </div>
  <div class="row">
    <div class="col-md-12">
    <h2 class="mainHeading">Birth chart, kundli, reports & readings</h2>
      <ul class="astrology nav nav-tabs" id="myTab">
       <li class="active"> 
       <a data-target="#birth" data-toggle="tab">
       <figure>
         <img src="images/asto-mini.jpeg" class="img-circle">
         <figcaption>
          <p>Birth Chart</p>
          </figcaption>
       </figure>
       </a>
       </li>
       <li>
       <a data-target="#kundli" data-toggle="tab">
          <figure>
         <img src="images/asto-mini.jpeg" class="img-circle">
         <figcaption>
          <p>Kundli Matching</p>
          </figcaption>
       </figure>
       </a>
       </li>
       <li> 
       <a data-target="#mangal" data-toggle="tab">
       <figure>
         <img src="images/asto-mini.jpeg" class="img-circle">
         <figcaption>
          <p>Mangal Dosha</p>
          </figcaption>
       </figure>
       </a>
       </li>
       <li>
       <a data-target="#nakshatra" data-toggle="tab">
          <figure>
         <img src="images/asto-mini.jpeg" class="img-circle">
         <figcaption>
          <p>Nakshatra Finder </p>
          </figcaption>
       </figure>
       </a>
       </li>
       <li>
       <a data-target="#stone" data-toggle="tab">
          <figure>
         <img src="images/asto-mini.jpeg" class="img-circle">
         <figcaption>
          <p>Birth Stone</p>
          </figcaption>
       </figure>
       </a>
       </li>
       <li>
       <a data-target="#kaal" data-toggle="tab">
          <figure>
         <img src="images/asto-mini.jpeg" class="img-circle">
         <figcaption>
          <p>Kaalsharp Yog</p>
          </figcaption>
       </figure>
       </a>
       </li>
       <li>
       <a data-target="#navamsa" data-toggle="tab">
          <figure>
         <img src="images/asto-mini.jpeg" class="img-circle">
         <figcaption>
          <p>Navamsa Chart</p>
          </figcaption>
       </figure>
       </a>
       </li>
      </ul>
       <div class="tab-content">
          <div class="tab-pane active" id="birth">
              <div class="media">
                <div class="media-left media-middle">
                  <a href="#">
                    <img class="media-object img-thumbnail" src="images/asto-mini.jpeg" alt="...">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Middle aligned media</h4>
                  <p>Astrology Birth chart or the Natal Chart is a astrological chart which shows the position of the sun, the moon and other planets at the exact time of a person's birth at a particular place on earth. To draw an accurate birth chart of rasi chart, one has to know his date of birth, exact time of birth and also the place of birth.</p>
                </div>
              </div>
              <div class="media">
                <div class="media-left media-middle">
                  <a href="#">
                    <img class="media-object img-thumbnail" src="images/asto-mini.jpeg" alt="...">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Middle aligned media</h4>
                  <p>Astrology Birth chart or the Natal Chart is a astrological chart which shows the position of the sun, the moon and other planets at the exact time of a person's birth at a particular place on earth. To draw an accurate birth chart of rasi chart, one has to know his date of birth, exact time of birth and also the place of birth.</p>
                </div>
              </div>
          </div>
          <div class="tab-pane" id="kundli"><div class="media">
                <div class="media-left media-middle">
                  <a href="#">
                    <img class="media-object img-thumbnail" src="images/asto-mini.jpeg" alt="...">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Middle aligned media</h4>
                  <p>Astrology Birth chart or the Natal Chart is a astrological chart which shows the position of the sun, the moon and other planets at the exact time of a person's birth at a particular place on earth. To draw an accurate birth chart of rasi chart, one has to know his date of birth, exact time of birth and also the place of birth.</p>
                </div>
              </div></div>
          <div class="tab-pane" id="mangal"><div class="media">
                <div class="media-left media-middle">
                  <a href="#">
                    <img class="media-object img-thumbnail" src="images/asto-mini.jpeg" alt="...">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Middle aligned media</h4>
                  <p>Astrology Birth chart or the Natal Chart is a astrological chart which shows the position of the sun, the moon and other planets at the exact time of a person's birth at a particular place on earth. To draw an accurate birth chart of rasi chart, one has to know his date of birth, exact time of birth and also the place of birth.</p>
                </div>
              </div></div>
          <div class="tab-pane" id="nakshatra"><div class="media">
                <div class="media-left media-middle">
                  <a href="#">
                    <img class="media-object img-thumbnail" src="images/asto-mini.jpeg" alt="...">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Middle aligned media</h4>
                  <p>Astrology Birth chart or the Natal Chart is a astrological chart which shows the position of the sun, the moon and other planets at the exact time of a person's birth at a particular place on earth. To draw an accurate birth chart of rasi chart, one has to know his date of birth, exact time of birth and also the place of birth.</p>
                </div>
              </div></div>
          <div class="tab-pane" id="stone"><div class="media">
                <div class="media-left media-middle">
                  <a href="#">
                    <img class="media-object img-thumbnail" src="images/asto-mini.jpeg" alt="...">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Middle aligned media</h4>
                  <p>Astrology Birth chart or the Natal Chart is a astrological chart which shows the position of the sun, the moon and other planets at the exact time of a person's birth at a particular place on earth. To draw an accurate birth chart of rasi chart, one has to know his date of birth, exact time of birth and also the place of birth.</p>
                </div>
              </div></div>
          <div class="tab-pane" id="kaal"><div class="media">
                <div class="media-left media-middle">
                  <a href="#">
                    <img class="media-object img-thumbnail" src="images/asto-mini.jpeg" alt="...">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Middle aligned media</h4>
                  <p>Astrology Birth chart or the Natal Chart is a astrological chart which shows the position of the sun, the moon and other planets at the exact time of a person's birth at a particular place on earth. To draw an accurate birth chart of rasi chart, one has to know his date of birth, exact time of birth and also the place of birth.</p>
                </div>
              </div></div>
          <div class="tab-pane" id="navamsa">
            <div class="media">
                <div class="media-left media-middle">
                  <a href="#">
                    <img class="media-object img-thumbnail" src="images/asto-mini.jpeg" alt="...">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Middle aligned media</h4>
                  <p>Astrology Birth chart or the Natal Chart is a astrological chart which shows the position of the sun, the moon and other planets at the exact time of a person's birth at a particular place on earth. To draw an accurate birth chart of rasi chart, one has to know his date of birth, exact time of birth and also the place of birth.</p>
                </div>
              </div>
            </div>
        </div>  
    </div>
  </div> 
 
  <div class="row">
    <div class="col-md-12">
    <h2 class="mainHeading">Calendars, muhurats & auspicious timing</h2>
      <ul class="astrology nav nav-tabs" id="myTab">
       <li class="active"> 
       <a data-target="#birth" data-toggle="tab">
       <figure>
         <img src="images/asto-mini.jpeg" class="img-circle">
         <figcaption>
          <p>Birth Chart</p>
          </figcaption>
       </figure>
       </a>
       </li>
       <li>
       <a data-target="#kundli" data-toggle="tab">
          <figure>
         <img src="images/asto-mini.jpeg" class="img-circle">
         <figcaption>
          <p>Kundli Matching</p>
          </figcaption>
       </figure>
       </a>
       </li>
       <li> 
       <a data-target="#mangal" data-toggle="tab">
       <figure>
         <img src="images/asto-mini.jpeg" class="img-circle">
         <figcaption>
          <p>Mangal Dosha</p>
          </figcaption>
       </figure>
       </a>
       </li>
       <li>
       <a data-target="#nakshatra" data-toggle="tab">
          <figure>
         <img src="images/asto-mini.jpeg" class="img-circle">
         <figcaption>
          <p>Nakshatra Finder </p>
          </figcaption>
       </figure>
       </a>
       </li>
       <li>
       <a data-target="#stone" data-toggle="tab">
          <figure>
         <img src="images/asto-mini.jpeg" class="img-circle">
         <figcaption>
          <p>Birth Stone</p>
          </figcaption>
       </figure>
       </a>
       </li>
       <li>
       <a data-target="#kaal" data-toggle="tab">
          <figure>
         <img src="images/asto-mini.jpeg" class="img-circle">
         <figcaption>
          <p>Kaalsharp Yog</p>
          </figcaption>
       </figure>
       </a>
       </li>
       <li>
       <a data-target="#navamsa" data-toggle="tab">
          <figure>
         <img src="images/asto-mini.jpeg" class="img-circle">
         <figcaption>
          <p>Navamsa Chart</p>
          </figcaption>
       </figure>
       </a>
       </li>
      </ul>
       <div class="tab-content">
          <div class="tab-pane active" id="birth">
            <div class="media">
                <div class="media-left media-middle">
                  <a href="#">
                    <img class="media-object img-thumbnail" src="images/asto-mini.jpeg" alt="...">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Middle aligned media</h4>
                  <p>Astrology Birth chart or the Natal Chart is a astrological chart which shows the position of the sun, the moon and other planets at the exact time of a person's birth at a particular place on earth. To draw an accurate birth chart of rasi chart, one has to know his date of birth, exact time of birth and also the place of birth.</p>
                </div>
              </div>
          </div>
          <div class="tab-pane" id="kundli">kundli</div>
          <div class="tab-pane" id="mangal">mangal</div>
          <div class="tab-pane" id="nakshatra">nakshatra</div>
          <div class="tab-pane" id="stone">stone</div>
          <div class="tab-pane" id="kaal">kaal</div>
          <div class="tab-pane" id="navamsa">navamsa</div>
        </div> 
       
    </div>
  </div> 
