<div class="col-md-9">
  <div class="carousel-reviews broun-block">
    <div class="container-fluid">
      <div class="row">
        <div id="carousel-reviewstwo" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item active">
              <div class="col-md-3 col-sm-6">
                <div class="block-text rel zmin">
                  <a title="" href="#">Hercules</a>
                </div>
              </div>
             <div class="col-md-3 col-sm-6">
                <div class="block-text rel zmin">
                    <a title="" href="#">Hercules</a>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 hidden-xs">
                <div class="block-text rel zmin">
                    <a title="" href="#">Anarchy</a>   
                </div>
              </div>
              <div class="col-md-3 col-sm-6 hidden-sm hidden-xs">
                <div class="block-text rel zmin">
                  <a title="" href="#">Fire & Rescue</a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="col-md-3 col-sm-6">
                <div class="block-text rel zmin">
                  <a title="" href="#">Hercules</a>
                </div>
              </div>
                <div class="col-md-3 col-sm-6">
                  <div class="block-text rel zmin">
                    <a title="" href="#">Hercules</a>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6 hidden-xs">
                  <div class="block-text rel zmin">
                      <a title="" href="#">Anarchy</a>  
                   </div>
                </div>
                <div class="col-md-3 col-sm-6 hidden-sm hidden-xs">
                  <div class="block-text rel zmin">
                    <a title="" href="#">Fire & Rescue</a>
                  </div>
                </div>
            </div>
            <div class="item">
              <div class="col-md-3 col-sm-6">
                <div class="block-text rel zmin">
                  <a title="" href="#">Hercules</a>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="block-text rel zmin">
                  <a title="" href="#">Hercules</a>
                </div>
              </div>
            <div class="col-md-3 col-sm-6 hidden-xs">
              <div class="block-text rel zmin">
                <a title="" href="#">Anarchy</a>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 hidden-sm hidden-xs">
              <div class="block-text rel zmin">
                <a title="" href="#">Fire & Rescue</a>
              </div>
            </div>
          </div>                    
        </div>
          <a class="left carousel-control" href="#carousel-reviewstwo" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-reviewstwo" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>