<div class="row">
          <div class="col-md-9 col-xs-12 ">
            <div class="col-xs-12 col-md-12 col-sm-12">
              <h2>jyoystish gyan kendra bastu shatra and kundli gold medilist</h2>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <figure>
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive" alt="Responsive image">
                <figcaption>Monday,25 july 2016</figcaption>
                <p class="sidePanel">jyoystish gyan kendra bastu shatra</p>
              </figure>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <figure>
                <img src="images/astro-zodiac_1.jpeg" class="img-responsive" alt="Responsive image">
                <figcaption>Monday,25 july 2016</figcaption>
                <p class="sidePanel">jyoystish gyan kendra bastu shatra</p>
              </figure>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <h3 class="margn">jyoystish gyan kendra bastu shatra</h3>
            <figure>
              <img src="images/asto-mini.jpeg" class="img-responsive" alt="Responsive image">
              <figcaption>Monday,25 july 2016</figcaption>
              <p class="sidePanel">jyoystish gyan kendra bastu shatra</p>
            </figure>
          </div>
        </div>