<div class="row">
  <div class="col-md-9 col-xs-12 ">
    <div class="col-xs-12 col-md-12 col-sm-12"><h2>Daily Rashi Yog</h2></div>
      <div class="col-xs-12 col-md-12 col-sm-12">&nbsp;</div>
      <div class="col-xs-12 col-md-12 col-sm-12">
        <ul class="nav nav-tabs" id="myTab">
          <li class="active">
            <a data-target="#aqarius" data-toggle="tab">Aqarius</a>
          </li>
          <li><a data-target="#aries" data-toggle="tab">Aries</a></li>
          <li><a data-target="#cancer" data-toggle="tab">Cancer</a></li>
          <li><a data-target="#capricorn" data-toggle="tab">Capricorn</a></li>
          <li><a data-target="#gemini" data-toggle="tab">Cemini</a></li>
          <li><a data-target="#leo" data-toggle="tab">Leo</a></li>
          <li><a data-target="#libra" data-toggle="tab">Libra</a></li>
          <li><a data-target="#pisces" data-toggle="tab">Pisces</a></li>
          <li><a data-target="#sagittarius" data-toggle="tab">Sagittarius</a></li>
          <li><a data-target="#scorpio" data-toggle="tab">Scorpio</a></li>
          <li><a data-target="#taurus" data-toggle="tab">Taurus</a></li>
          <li><a data-target="#virgo" data-toggle="tab">Virgo</a></li> 
        </ul>
      </div>
      <div class="col-xs-12 col-md-12 col-sm-12">&nbsp;</div>
        <div class="col-xs-12 col-md-12 col-sm-12">
        <div class="tab-content">
          <div class="tab-pane active" id="aqarius">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <a href="#"><img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Monday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption></a>
                <div class="overlay"> 
                  <button aria-expanded="true" aria-haspopup="true" data-toggle="dropdown" class="btn btn-info dropdown-toggle" type="button">Click More </button>  
                </div>
              </figure>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Tuesday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Wednesday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Thurday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class="img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Friday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>saturday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class="img-responsive img-circle" alt="Responsive image">
               <figcaption>
                  <p>Sunday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="tab-pane" id="aries">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Monday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Tuesday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Wednesday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Thursday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Friday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Saturday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Sunday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="tab-pane" id="cancer">
              <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Monday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Tuesday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Wednesday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Thursday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Friday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Saturday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Sunday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
          </div>
           <div class="tab-pane" id="capricorn">
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Monday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Tuesday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Wednesday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Thursday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Friday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Saturday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Sunday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
           </div>
          <div class="tab-pane" id="gemini">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Monday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Tuesday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Wednesday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Thursday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Friday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Saturday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Sunday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="tab-pane" id="leo">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Monday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Tuesday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Wednesday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Thursday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Friday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Saturday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Sunday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="tab-pane" id="libra">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Monday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Tuesday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Wednesday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Thursday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Friday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Saturday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Sunday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="tab-pane" id="pisces">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Monday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Tuesday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Wednesday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Thursday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Friday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Saturday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Sunday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="tab-pane" id="scorpio">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Monday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Tuesday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Wednesday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Thursday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Friday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Saturday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Sunday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="tab-pane" id="taurus">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Monday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Tuesday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Wednesday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Thursday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Friday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Saturday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Sunday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="tab-pane" id="virgo">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Monday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Tuesday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Wednesday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Thursday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Friday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Saturday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="daily-img">
                <img src="images/astro-zodiac_1.jpeg" class=" img-responsive img-circle" alt="Responsive image">
                <figcaption>
                  <p>Sunday, 25 july 2016</p>
                  <p>jyoystish gyan kendr</p>
                </figcaption>
              </figure>
            </div>
          </div> 
        </div>
      </div>
  </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <h3 class="margn">jyoystish gyan kendra bastu shatra</h3>
      <figure>
        <img src="images/asto-mini.jpeg" class="img-responsive" alt="Responsive image">
        <figcaption>Monday,25 july 2016</figcaption>
        <p class="sidePanel">jyoystish gyan kendra bastu shatra</p>
      </figure>
    </div>
    <div id="popupBackGround" class="popupModal-backdrop" data-ng-if="showModal"></div>
<div id="popupBackGroundDialog" class="popupModal-dialog" data-ng-show="showModal">
    <div class="popupModal-body">
      <p style="margin-left:15px; font-size:14px;">Please wait while we are processing your request</p>
      </p>
    </div>
</div>
