<div class="container-fluid footerdown">
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <div class="col-md-8 col-xs-12">
              <ul class="conatact">
                <li><a href="#">About | </a></li>
                <li><a href="#">Privacy | </a></li>
                <li><a href="#">Contact us | </a></li>
                <li><a href="#">Terms & Conditions </a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <div class="share">
              <span>follows us</span>
                <ul>
                  <li><a  target="_blank" href="https://www.facebook.com/Amarujala"><img src="images/facebook_circle.png" class="img-responsive" alt="Responsive image"></a>
                  </li>
                  <li><a  target="_blank" href="https://www.twitter.com/Amarujala"><img src="images/twitter_circle.png" class="img-responsive" alt="Responsive image"></li>
                  <li><a  target="_blank" href="https://www.youtube.com/Amarujala"><img src="images/youtube_circle.png" class="img-responsive" alt="Responsive image"></li>
                  <li><a  target="_blank" href="https://www.google.com/Amarujala"><img src="images/google_circle.png" class="img-responsive" alt="Responsive image"></li>
                  <li><a  target="_blank" href="https://www.linkedin.com/Amarujala"><img src="images/linkedin_circle.png" class="img-responsive" alt="Responsive image"></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>