<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header col-md-8 col-sm-6 col-xs-10">
              <div class="menu-icon col-md-6 col-sm-6 col-xs-5">
              <span aria-hidden="true" data-target="#bs-example-navbar-collapse-1" class="glyphicon glyphicon-align-justify navbar-toggle collapsed" data-toggle="collapse"  aria-expanded="false"></span>
              <span class="border"></span>
              <span aria-hidden="true" class="glyphicon glyphicon-search"></span>
              </div>
              <div class="logo col-md-6 c0l-sm-6 col-xs-6"><h4>Dream.com</h4></div>
          </div>
           <!-- Brand and toggle get grouped for better mobile display -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-default navbar-right">
            <div class="owner">
              <span>
                 <figure>
                   <img src="images/pp.jpg">
                   <figcaption class="text-center">Duli Chand </figcaption>
                </figure>
              </span>
            </div>
                <ul class="nav navbar-nav">
                  <li class="border"><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-user"></span></a></li>
                  <li ><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-map-marker"></span></a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <ul class="menu nav navbar-nav ">
            <li class="active">
            <a href="#">Home</a></li>
            <li><a href="#/about">About</a></li>
            <li><a href="#/astrology">Astrology</a></li>
            <li><a href="#/rashi">Rashi</a></li>
            <li><a href="#/graha">Graha</a></li>
            <li><a href="#/rashifal">Rashifal</a></li>
            <li><a href="#/grah-ratna">Grah Ratna</a></li>
            <li><a href="#/rashi-ratna">Rashi Ratna</a></li>
            <li><a href="#/grah-nakshatra">Grah Nakshatra</a></li>
            <li><a href="#/grah-dasha">Grah Dasha</a></li>
            <li><a href="#/vastu">Vastu</a></li>
            <li><a href="#/shani-sadesati">Shani Sadesati</a></li>
          </ul>
        </div>
      </nav>