<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header col-md-8 col-sm-6 col-xs-10">
              <div class="menu-icon col-md-6 col-sm-6 col-xs-5">
              <span aria-hidden="true" data-target="#bs-example-navbar-collapse-1" class="glyphicon glyphicon-align-justify navbar-toggle collapsed" data-toggle="collapse"  aria-expanded="false"></span>
              <span class="border"></span>
              <span aria-hidden="true" class="glyphicon glyphicon-search"></span>
              </div>
              <div class="logo col-md-6 c0l-sm-6 col-xs-6"><h4>Dream.com</h4></div>
          </div>
           <!-- Brand and toggle get grouped for better mobile display -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-default navbar-right">
                <ul class="nav navbar-nav">
                  <li class="border"><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-user"></span></a></li>
                  <li ><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-map-marker"></span></a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <nav class="navbar navbar-inverse col-md-12 col-sm-12 col-xs-12">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home<span class="line">|</span></a></li>
            <li><a href="#">about<span class="line">|</span></a></li>
            <li><a href="#">logo<span class="line">|</span></a></li>
            <li><a href="#">main<span class="line">|</span></a></li>
            <li><a href="#">Page<span class="line">|</span></a></li>
            <li><a href="#">style<span class="line">|</span></a></li>
            <li><a href="#">print<span class="line">|</span></a></li>
            <li><a href="#">config<span class="line">|</span></a></li>
            <li><a href="#">screen<span class="line">|</span></a></li>
          </ul>
        </div>
      </nav>