<div class="row borderHeading">
      <div class="col-xs-12 text-center heading padding-top-bottom">
        <h2>Rashi Ratna</h2></div>
      </div>
  <div class="row background">
    <div class="col-md-3 col-xs-12">
      <ol class="breadcrumb subMenu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Data</li>
      </ol>
    </div>
    <breadcrum></breadcrum>
  </div> 
  <div class="row">
    <div class="col-md-12">
      <ul class="astrology">
       <li> 
       <figure>
         <img src="images/asto-mini.jpeg" class="img-circle">
         <figcaption>
          <p>Birth Chart</p>
          </figcaption>
       </figure>
       </li>
       <li>
          <figure>
         <img src="images/asto-mini.jpeg" class="img-circle">
         <figcaption>
          <p>Kundli Matching</p>
          </figcaption>
       </figure>
       </li>
       <li> 
       <figure>
         <img src="images/asto-mini.jpeg" class="img-circle">
         <figcaption>
          <p>Mangal Dosha</p>
          </figcaption>
       </figure>
       </li>
       <li>
          <figure>
         <img src="images/asto-mini.jpeg" class="img-circle">
         <figcaption>
          <p>Nakshatra Finder </p>
          </figcaption>
       </figure>
       </li>
       <li>
          <figure>
         <img src="images/asto-mini.jpeg" class="img-circle">
         <figcaption>
          <p>Birth Stone</p>
          </figcaption>
       </figure>
       </li>
       <li>
          <figure>
         <img src="images/asto-mini.jpeg" class="img-circle">
         <figcaption>
          <p>Kaalsharp Yog</p>
          </figcaption>
       </figure>
       </li>
       <li>
          <figure>
         <img src="images/asto-mini.jpeg" class="img-circle">
         <figcaption>
          <p>Navamsa Chart</p>
          </figcaption>
       </figure>
       </li>
      </ul>
       
    </div>
  </div> 
