 <div class="row"> 
          <div class="col-xs-12">
              <h3>Rashifal</h3>
            </div>        
          <div class="col-md-2 col-sm-2 col-xs-4 text-center">
            <figure class="rashi-hover">
              <a href="#"><img src="images/astro-aquarius.jpg" alt="Responsive image">
              <figcaption>aqarius</figcaption>
              </a>
              <small>21/3 - 19/4</small>
            </figure>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-4 text-center">
            <figure class="rashi-hover">
              <a href="#"><img src="images/astro-aries.jpg" alt="Responsive image"><figcaption>aries</figcaption></a><small>21/3 - 19/4</small>
            </figure>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-4 text-center">
            <figure class="rashi-hover">
              <a href=""><img src="images/astro-cancer.jpg"><figcaption>cancer</figcaption></a><small>21/3 - 19/4</small>
            </figure>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-4 text-center">
            <figure class="rashi-hover">
              <a href="#"><img src="images/astro-capricorn.jpg"><figcaption>capricorn</figcaption></a><small>21/3 - 19/4</small>
            </figure>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-4 text-center">
            <figure class="rashi-hover">
              <a href="#"><img src="images/astro-gemini.jpg"><figcaption>gemini</figcaption></a><small>21/3 - 19/4</small>
            </figure>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-4 text-center">
            <figure class="rashi-hover">
              <a href="#"><img src="images/astro-leo.jpg"><figcaption>leo</figcaption></a><small>21/3 - 19/4</small>
            </figure>
          </div>
        
          <div class="col-md-2 col-sm-2 col-xs-4 text-center">
            <figure class="rashi-hover">
              <a href="#"><img src="images/astro-libra.jpg"><figcaption>libra</figcaption></a><small>21/3 - 19/4</small>
            </figure>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-4 text-center">
            <figure class="rashi-hover">
              <a href="#"><img src="images/astro-pisces.jpg"><figcaption>libra</figcaption></a><small>21/3 - 19/4</small>
            </figure>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-4 text-center">
            <figure class="rashi-hover">
              <a href="#"><img src="images/astro-sagittarius.jpg"><figcaption>libra</figcaption></a><small>21/3 - 19/4</small>
            </figure>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-4 text-center">
            <figure class="rashi-hover">
              <a href="#"><img src="images/astro-scorpio.jpg"><figcaption>scorpio</figcaption></a><small>21/3 - 19/4</small>
            </figure>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-4 text-center">
            <figure class="rashi-hover">
              <a href="#"><img src="images/astro-taurus.jpg"><figcaption>taurus</figcaption></a><small>21/3 - 19/4</small>
            </figure>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-4 text-center">
            <figure class="rashi-hover">
              <a href="#"><img src="images/astro-virgo.jpg"><figcaption>virgo</figcaption></a><small>21/3 - 19/4</small>
            </figure>
          </div>
        </div>