@import "compass";
@import "partials/_variables";
@import "partials/_base";
@import "partials/_main";
@import "partials/_header";
@import "partials/_carousel";
@import "partials/_daily";
@import "partials/_weekly";
@import "partials/_astrology";
@import "partials/_rashi";
@import "partials/_nakshatra";
@import "partials/_responsive";
/*@font-face {  
  font-family:Agra ;  
  src: url( '../fonts/Agra.ttf' ) format("truetype");  
}*/
@font-face {
    font-family: 'agra';
    src: url('../fonts/agra-webfont.woff2') format('woff2'),
         url('../fonts/agra-webfont.woff') format('woff'),
         url('../fonts/agra-webfont.ttf') format('truetype'),
         url('../fonts/agra-webfont.svg#agranormal') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'agra';
    src: url('../fonts/agra-webfont.woff2') format('woff2'),
         url('../fonts/agra-webfont.woff') format('woff'),
         url('../fonts/agra-webfont.ttf') format('truetype'),
         url('../fonts/agra-webfont.svg#agranormal') format('svg');
    font-weight: normal;
    font-style: normal;

}




