$background-color: #ffffff;
$text-color: #000000;

$bg-color:#f8f8f8;

$font-rashi-size:30px;

$font-heading-size: 20px;
$font-subheading-size:16px;

$font-small-size: 13px;
$font-large-size: 15px;

$glyphicon-font-size:20px;

$nav-line-height:35px;

$padding-top-bottom:10px;
$margin-top-bottom:10px;

$rashi-text-color:#FF5733;

$border-color: #000000;

$menu-divider-right:#333333;
$menu-divider-left: #666666;

$menu-hover-color:#FF5733;




