$background-color: #ffffff;
$text-color: #000000;

$font-heading-size: 18px;
$font-subheading-size:16px;

$font-small-size: 13px;
$font-large-size: 15px;

$glyphicon-font-size:20px;

$nav-line-height:35px;

$padding-top-bottom:10px;
$margin-top-bottom:10px;

$rashi-text-color:red;



