$background-color: #ffffff;
$text-color: #000000;

$bg-color:#f8f8f8;

$font-rashi-sub:25px;
$font-rashi-size:30px;

$font-heading-size: 20px;
$font-subheading-size:16px;
$font-size-body:18px;

$font-small-size: 13px;
$font-large-size: 15px;

$glyphicon-font-size:20px;

$nav-line-height:35px;

$padding-top-bottom:10px;
$margin-top-bottom:10px;

$rashi-bg-color:#533e2d;
$rashi-text-color:#FF5733;
$rashi-border-color:#f1f1f1;

$border-color: #000000;

$menu-divider-right:#333333;
$menu-divider-left: #666666;

$menu-hover-color:#FF5733;

$carousel-background:#000000;

$hindi-font:devlys_010normal;

$red:rgb(224, 49, 0); //#e03100
$orange:rgb(224, 105, 0); //#e06900
$blue:rgb(55, 75, 77); //#374b4d






