#myTab{
	a{
		padding:10px 14px;
	}
}
.daily-img{
	background:$bg-color;
	border:$rashi-border-color solid 2px;
	width:200px;
	height:200px;
	margin:10px 0px;
	border-radius:100%;
	position:relative;
	.btn-info{
		display:none;
	}
	&:hover{
		border:2px solid red;
		border-radius:100%;
		.overlay{
		    background-color: $bg-color;
		    border-radius: 100px;
		    height:150px;
		    left:18px;
		    position: absolute;
		    top:164px;
		    width:150px;
		    z-index: 99999;
		    .btn-info {
			     background-color: #5bc0de;
			    border-color: #46b8da;
			    color: #fff;
			    left:45px;
			    position: absolute;
			    top:63px;
			    display:block;
			    padding:5px;
			    font-size:10px;
			}
		}
	}
	img{
	width:200px;
	height:200px;
	padding: 0 0 99px;
	position: absolute;	 
	}
	figcaption{
		color:$rashi-text-color;
		border-top:2px solid $rashi-border-color;
	    position: absolute;
	    top: 101px;
	    width: 196px;
	    text-align:center;

		p{
			margin:2px 0px;
			padding:2px 0px;
			
		}
		&:first-child{
			font-size:$font-large-size;
			font-weight:bold;
		}
		&:nth-child(2){
			/*border-bottom:#ccc solid 1px;*/
			
		}
	}
}