#myTab{
	a{
		padding:10px 14px;
	}
}
.nav-tabs {
	> li{
			font-family:$hindi-font;
	.active{
		background:$rashi-bg-color !important;

	}
		padding: 0 8px;
		> a{
		    font-size: 22px;
		}
	}
	
}
.nav {
	> li{
		 > a{
		 	&:hover, &:focus{
		 	background:$rashi-bg-color !important;
		 	}
		 }
	}
}
.daily-img{
	//border:$rashi-border-color solid 2px;
	margin:12px 0px;
	position:relative;
	float: left;
    padding: 10px 20px;
    width: 100%;
    box-shadow: 0 0 5px 0 #2c2222;
    text-align: center;
	.btn-info{
		display:none;
		margin: 3% 28%;
	}
	&:hover{
		-moz-osx-font-smoothing: grayscale;
	    -webkit-transition-duration: 0.3s;
	    transition-duration: 1s;
	  	transition-timing-function: linear;
	    text-transform: capitalize;
		.overlay{
		    background-color: $bg-color;
		    position: absolute;
		    top:0px;
		    width:100%;
		    margin:0 -20px;
		    height:100%;
		    z-index: 99999;
		    border:#f0f0f0 solid 3px;
			-moz-osx-font-smoothing: grayscale;
		    -webkit-transition-duration: 0.3s;
		    transition-duration: 1s;
		    -webkit-transition-property: background, border-radius;
		  	transition-timing-function: linear;
		    text-transform: capitalize;

		    .modal-dialog{
		    	width:940px !important;
		    }
		    .btn-info {
			     background-color: #5bc0de;
			    border-color: #46b8da;
			    color: #fff;
			    position: absolute;
			    display:block;
			    padding:12px 15px;
			   // margin:24%;
			    border-radius:0;
			}
		}
	}
	img{
		width: 100%;
	    margin: 0px auto;
	}
	figcaption{
		color:$rashi-text-color;
	    bottom:10px;
	    width:100%;
	    text-align:center;
	     text-transform: capitalize;
		p{
			margin:2px 0px;
			padding:2px 0px;
			
		}
		&:first-child{
			font-size:$font-large-size;
			font-weight:bold;
		}
		&:nth-child(2){
			/*border-bottom:#ccc solid 1px;*/
			
		}
	}

	
}