a{
	color:$rashi-text-color;
	text-decoration:none;
}
a:hover{
	text-decoration:none;
	color:$rashi-text-color;
}
h2{
	font-size: $font-heading-size;
}

.background{
	background:$bg-color;	
	border-bottom:#666 solid 3px;
}
.navbar{
	margin-bottom:0px;
	border-radius:0px;
	.navbar-header {
		margin:12px 0;
		padding:12px 0;
			.menu-icon{
				display: inline-block;
				line-height:35px;
				.glyphicon{
			        display: inline-block;
			        font-size:$glyphicon-font-size;
			    }
				.glyphicon.glyphicon-search {
			    	top: 7px;
				}
				.navbar-toggle{
			    	border-radius: 0 !important;
				    float: left;
				     margin:0 0 0;
				    padding: 10px 0px 0px;
				    border:none !important;
				    &:hover{
				    	border:none !important
				    }
			    }
			    .border {
				    border-right: 1px solid $border-color;
				    padding: 0 10px 8px 0;
				    margin:0 10px 0 0;
				    color:$text-color;
				}
			}
		.logo {
		    display:inline-block;
		    text-align:center;
		    h4{
		    	font-size:30px;
		    	-webkit-text-stroke: 1px black;
			   color: white;
			   text-shadow:
			       3px 3px 0 $rashi-text-color,
			     -1px -1px 0 #000,  
			      1px -1px 0 $rashi-text-color,
			      -1px 1px 0 #000,
			       1px 1px 0 $rashi-text-color;
		    }
		}
	}
	.navbar-right {
		margin-top: 25px;
		margin-right:30px;
		line-height:35px;
			.glyphicon{
				font-size:$glyphicon-font-size;
			}
			.nav > li{
				display:inline-block;
					&.border{
					border-right: 1px solid $border-color;
				    margin: 0 10px 0 0;
					padding: 0 10px;
				    color:$text-color;
				    line-height:35px;
				}
				> a{
					padding:2px 0;
				}
			}
	}
	
}
.navbar-inverse {
	.navbar-nav {
		> li {
			> a{
				padding:15px 18px !important;
				}
			}
		}	
	}
.navbar-inverse {
	.navbar-nav > {
		.active {
			> a{
				padding:15px 18px !important;
				&:hover{
				padding:15px 18px !important;
				}
				&:focus{
				padding:15px 18px !important;
				}
			}
		}
	}
}

.menu {
	> li{
	border-right:$menu-divider-right solid 1px;
	border-left:$menu-divider-left solid 1px;
	display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
    &:before {
	    content: "";
	    position: absolute;
	    z-index: -1;
	    left: 0;
	    right: 100%;
	    bottom: 0;
	    background: $rashi-text-color;
	    height: 4px;
	    -webkit-transition-property: right;
	    transition-property: right;
	    -webkit-transition-duration: 0.3s;
	    transition-duration: 0.3s;
	    -webkit-transition-timing-function: ease-out;
	    transition-timing-function: ease-out;
    }
	> .active{

		> a{
			padding:0 20px !important;
		}
	}
		&:hover, &:focus, &:active{
			&:before{
			right:0;
			-webkit-transform: scaleX(1);
   			 transform: scaleX(1);
			}
		}

		
	}
}


.border-box{
	border:#f2f2f2 solid 1px;
	border-radius:2px;
	padding: 6px;
	p{
		text-align:justify;
		 padding: 0 2px;
	}
}
.borderHeading
{
	border-bottom:3px #666 solid;
    padding:20px 0;
    h2{
    	margin:0;
    	padding:0;
    	font-size:$font-rashi-size;
    }
}
		
.heading
{
	font-size:$font-heading-size;
	font-weight:400;
	line-height:18px;
}

.img-polaroid{
	margin:0 auto;
}

.footerdown{
	background:#000;
}

.conatact{
	li{
		display:inline-block;
		padding:20px 0;
	}
	& a{
		color:#fff;
	}
}
.share{
		span{
			color: #fff;
		    display: inline-block;
		    font-size:$font-subheading-size;
	    }
    ul{
	    display: inline-block;
	    margin-top:10px;
	    padding: 0;
	    li{
	    	display: inline-block;
	    }
    }
	
}
.yearly-rashi{
	p{
		padding:0 4px;
		text-align: justify;
	}
}
.mainHeading{
	text-align: center;
	p{
		border-top: $menu-hover-color solid 1px;
	    width: 60%;
	    display: block;
	    position: absolute;
	    top: 33px;
	    z-index: -1;
	    left: 20%;
    }
	span{
		z-index:9;
		background:#fff;
	&:hover{
		color:$menu-hover-color;
	}
	&:before{
	font-family: 'Glyphicons Halflings';
	content: "\e103";
	padding-right:5px;
	color:$menu-hover-color;
	}
	&:after{
	font-family: 'Glyphicons Halflings';
	content: "\e103";
	padding-left:5px;
	color:$menu-hover-color;
	background:#fff;
	position: absolute;
	 -ms-transform: rotate(270deg); /* IE 9 */
    -ms-transform-origin: 55% 67%; /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    -webkit-transform-origin: 55% 67%; /* Chrome, Safari, Opera */
    transform: rotate(270deg);
    transform-origin: 55% 67%;
	}
	}
}


.tab-content{
    padding-bottom: 20px;
	> .tab-pane{
		> .solution{
			> ul{	
			list-style-type: decimal;
			z-index:2;		
				> li{	
					&.done
					{
					line-height:30px;
					color:$rashi-text-color;
					margin:20px 0;
					font-size:$font-size-body;
						&:before{
							    content: ' ';
							    border-radius: 100%;
							    background:$menu-divider-left;
							    position: absolute;
							    border: $menu-hover-color solid 5px;
							    z-index: -1;
							    margin: -4px -32px 0px;
							    padding: 15px 15px;
						}
					}
					span{
						margin-left:20px;
					}	
				}
			}
		}
	}
}
