
.border-box{
	//border:$rashi-bg-color solid 3px;
	padding:0px;
	margin-top:10px;
	text-align:center;
	figcaption{
		font-size:$font-rashi-sub;
	}
	.planet{
		border-bottom:$rashi-bg-color solid 3px;
		//color:#fff;	
		text-align:center;
		img{
			width:100px;
			height:100px;
		}
	}
	p{	
		margin-top:20px;
		text-align:justify;
		line-height:22px;
		padding:0 10px;
		//background:$background-color;
		font-family:$hindi-font;
		font-size:$font-heading-size;
		font-weight:bold;
	}
	.btn{
		width: 50%;
	    border-radius: 0;
	    font-size: 20px;
	    border:none;
	    margin:0 auto;
	    }
}