
.border-box{
	border:$rashi-bg-color solid 5px;
	padding:0px;
	figcaption{
		font-size:$font-rashi-sub;
	}
	.planet{
		background:$rashi-bg-color;
		color:#fff;	
	}
	p{	
		margin-top:20px;
		text-align:justify;
		line-height:18px;
		padding:0 10px;
		background:$background-color;
	}
	.btn{
		width: 100%;
	    border-radius: 0;
	    font-size: 20px;
	    border:none;
	    background:$rashi-border-color;
	}
}