.yearly-rashi{
	border:$rashi-border-color solid 15px;
	padding:10px;
	margin:10px 0;
	background-color:$rashi-bg-color;
	display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
	img{
		border-radius:100%;
		border-width:3px;
		background-color:$bg-color;
		border:$rashi-border-color solid 3px;
	    vertical-align: middle;
	    -webkit-transform: translateZ(0);
	    transform: translateZ(0);
	    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	    -webkit-backface-visibility: hidden;
	    backface-visibility: hidden;
	    -moz-osx-font-smoothing: grayscale;
	    position: relative;
	    overflow: hidden;		
		 &:hover {
		    content: "";
		    z-index: 1;
		    left: 0;
		    right: 0;
		    top: 0;
		    bottom: 0;
		    border-color: $menu-hover-color;
		    border-style: solid;
		    border-width:3px;
		    -webkit-transition-property: border-width;
		    transition-property: border-width;
		    -webkit-transition-duration: 0.1s;
		    transition-duration: 0.1s;
		    -webkit-transition-timing-function: ease-out;
		    transition-timing-function: ease-out;
		}																			
	}
	p{
		padding:0 4px;
		text-align: justify;
		color:#fff;
		font-size:$font-heading-size;
		font-weight:bold;
		line-height:22px;
	}
	&:hover{
		
		/*content: '';
	    border: $menu-hover-color solid 15px;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    -webkit-animation-duration: 1s;
	    animation-duration: 1s;*/

	    border: $menu-hover-color solid 15px;
	    content: "";
	    border-image-source: initial;
	    border-image-slice: initial;
	    border-image-width: initial;
	    border-image-outset: initial;
	    border-image-repeat: initial;
	    animation-duration: 1s;
	    border-width: 15px;
	    border-style: solid;
	    border-color: rgb(225, 225, 225);
	}
	figcaption{
		font-size: 24px;
	    color:#e1e1e1;
	    border-bottom: $bg-color solid 3px;
	    background-color:$rashi-bg-color;
	}
}