
@media only screen and (max-width:767px) {
	.top{
		margin-top:10px;
	}
	.breadcrumb{
		padding:15px 0px;
	}
	#carousel-reviewstwo .left.carousel-control, #carousel-reviewstwo .right.carousel-control{
		top:30px;
	}	
}

@media only screen and (max-width:550px) {
	.daily-img{
		height:170px;
		&:hover{
			border:none;
		}
	}
	.daily-img figcaption{
		top:30%;
	}
	.daily-img:hover .overlay{
		height:170px;

	}
	.daily-img:hover .overlay .btn-info{
		margin:-33px 0 0 -44px;
	}

}

@media only screen and (max-width:480px) {
	.navbar-right{
		margin-right:10px !important;
		.nav > li{
			&.border{
			    margin: 0 0px 0 0px !important;
    			padding: 0 5px !important;
			}
		}
	}
}
@media only screen and (max-width:440px) {
	.daily-img:hover .overlay .btn-info{
		margin:-33px 0 0 -55px;
	}
}
@media only screen and (max-width:360px) {
	.navbar-right{
		margin-right:10px !important;
		.nav > li{
			&.border{
			    margin: 0 0px 0 -10px !important;
    			padding: 0 4px !important;
			}
		}
	}
}
@media only screen and (max-width:320px) {
	h2{
		font-size:24px !important;
	}
	h3{
		font-size:18px !important;
	}
	.margn{
		margin:0px;
	}
	
	.conatact{
		padding:0px;
		margin:0px;
		li{
			display:inline-block;
			padding:0px 0;
		}

	}
}
