<div class="carousel-reviews broun-block bal">
<div class="container-fluid ">
    <div class="row">
        <div id="carousel-reviewsone" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                <div class="col-md-3 col-sm-6">
                <div class="block-text rel zmin">
                <a title="" href="#">Duli Chand</a>
                    
                      <p>Never before has there been a good film portrayal of ancient Greece's favourite myth. So why would Hollywood start now? This latest attempt at bringing the son of Zeus to the big screen is brought to us by X-Men: The last Stand director Brett Ratner. If the name of the director wasn't enough to dissuade ...</p>
                    <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                    </div>
                <div class="person-text rel">
                          <img src="images/duli-chand.jpg"/>
                  <a title="" href="#">Duli Chand</a>
                  <i>from Alwar, Rajasthan</i>
                </div>
              </div>
               <div class="col-md-3 col-sm-6">
                  <div class="block-text rel zmin">
                      <a title="" href="#">Rakesh Pawa</a>
                       
                          <p>Never before has there been a good film portrayal of ancient Greece's favourite myth. So why would Hollywood start now? This latest attempt at bringing the son of Zeus to the big screen is brought to us by X-Men: The last Stand director Brett Ratner. If the name of the director wasn't enough to dissuade ...</p>
                        <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                        </div>
                  <div class="person-text rel">
                            <img src="images/rakesh-pawa.jpg"/>
<a title="" href="#">Rakesh Pawa</a>                    <i>from Delhi, Delhi</i>
                  </div>
                </div>
                    <div class="col-md-3 col-sm-6 hidden-xs">
                    <div class="block-text rel zmin">
                        <a title="" href="#">Sanjay Pushp</a>
                     
                        <p>The 2013 movie "The Purge" left a bad taste in all of our mouths as nothing more than a pseudo-slasher with a hamfisted plot, poor pacing, and a desperate attempt at "horror." Upon seeing the first trailer for "The Purge: Anarchy," my first and most immediate thought was "we really don't need another one of these."  </p>
                          <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                        </div>
                  <div class="person-text rel">
                            <img src="images/sanjay-pushp.jpg"/>
                        <a title="" href="#">Sanjay Pushp</a>
                    <i>from Jammu, Jammu & Kashmir</i>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6 hidden-sm hidden-xs">
                <div class="block-text rel zmin">
                  <a title="" href="#">Yash</a>
                  
                    <p>What a funny and entertaining film! I did not know what to expect, this is the fourth film in this vehicle's universe with the two Cars movies and then the first Planes movie. I was wondering if maybe Disney pushed it a little bit. However, Planes: Fire and Rescue is an entertaining film that is a fantastic sequel in this magical franchise. </p>
                  <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                </div>
                <div class="person-text rel">
                  <img src="images/yash.jpg"/>
                  <a title="" href="#">Yash</a>
                  <i>from New Delhi, Delhi</i>
                </div>
              </div>
                </div>
               
            </div>
            <a class="left carousel-control" href="#carousel-reviewsone" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-reviewsone" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>
</div>