<div class="row hindi-font">
          <div class="col-md-12 col-xs-12">
            <div class="col-xs-12">
              <h3>Grah Nakshatra</h3>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="border-box">
               <div class="planet">
               <img src="" onerror="this.src='images/noimage.png'" class="img-circle">
                <figcaption class="text-center">Monday, 25 july 2016</figcaption>
               </div>   
                <p>Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas.</p>
                <button value="more" class="btn btn-primary">More</button>
              </figure>
              
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="border-box">
              <div class="planet">
               <img src="" onerror="this.src='images/noimage.png'" class="img-circle">
                <figcaption class="text-center">Monday, 25 july 2016</figcaption>
                </div>
                <p>Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas.</p>
                <button value="more" class="btn btn-primary">More</button>
              </figure>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="border-box">
               <div class="planet">
               <img src="" onerror="this.src='images/noimage.png'" class="img-circle">
                <figcaption class="text-center">Monday, 25 july 2016</figcaption>
                </div>
                <p>Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas.</p>
                <button value="more" class="btn btn-primary">More</button>
              </figure>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="border-box">
               <div class="planet">
                <img src="" onerror="this.src='images/noimage.png'" class="img-circle">
                <figcaption class="text-center">Monday, 25 july 2016</figcaption>
                </div>
                <p>Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas.</p>
                <button value="more" class="btn btn-primary">More</button>
              </figure>
            </div>
          </div>          
        </div>