<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class="col-xs-12 col-md-12 col-sm-12">
        <h2 class="mainHeading"><span class="hindi-font">Rashi Yog</span><p></p></h2>
    </div>
      <div class="col-md-12 col-xs-12 col-sm-12 hidden-lg hidden-md ">
          <div class="carousel-reviews broun-block">
            <div class="container-fluid">
              <div class="row">
                <div id="carousel-reviewstwo" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="item active">
                     
                     <div class="col-md-3 col-sm-4 col-xs-6">
                        <div class="block-text rel zmin">
                            <a href="#aries" data-toggle="tab">Aries</a>
                        </div>
                      </div>
                      <div class="col-md-3 col-sm-4 col-xs-6 hidden-xs">
                        <div class="block-text rel zmin">
                            <a href="#cancer" data-toggle="tab">Cancer</a>   
                        </div>
                      </div>
                      <div class="col-md-3 col-sm-4 col-xs-6 hidden-sm hidden-xs">
                        <div class="block-text rel zmin">
                          <a href="#capricorn" data-toggle="tab">Capricorn</a><
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="col-md-3 col-sm-4 col-xs-6">
                        <div class="block-text rel zmin">
                          <a href="#leo" data-toggle="tab">Leo</a>
                        </div>
                      </div>
                        <div class="col-md-3 col-sm-4 col-xs-6">
                          <div class="block-text rel zmin">
                            <a href="#libra" data-toggle="tab">Libra</a>
                          </div>
                        </div>
                         <div class="col-md-3 col-sm-4 col-xs-6">
                        <div class="block-text rel zmin">
                            <a href="#aqarius" data-toggle="tab">Aqarius</a>
                        </div>
                      </div>
                        <div class="col-md-3 col-sm-4 col-xs-6 hidden-xs">
                          <div class="block-text rel zmin">
                              <a href="#pisces" data-toggle="tab">Pisces</a>  
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-6 hidden-sm hidden-xs">
                          <div class="block-text rel zmin">
                            <a href="#sagittarius" data-toggle="tab">Sagittarius</a>
                          </div>
                        </div>
                    </div>
                    <div class="item">
                      <div class="col-md-3 col-sm-4 col-xs-6">
                        <div class="block-text rel zmin">
                          <a href="#scorpio" data-toggle="tab">Scorpio</a>
                        </div>
                      </div>
                      <div class="col-md-3 col-sm-4 col-xs-6">
                        <div class="block-text rel zmin">
                          <a href="#taurus" data-toggle="tab">Taurus</a>
                        </div>
                      </div>
                    <div class="col-md-3 col-sm-4 col-xs-6">
                      <div class="block-text rel zmin">
                        <a href="#virgo" data-toggle="tab">Virgo</a>
                      </div>
                    </div>
                  </div>                    
                </div>
                  <a class="left carousel-control" href="#carousel-reviewstwo" role="button" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#carousel-reviewstwo" role="button" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!--menu-criosalend-->
      <div class="col-xs-12 col-md-12 col-sm-12 hidden-xs hidden-sm bal">
        <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a data-target="#aries" data-toggle="tab">मेष</a></li>
        <li><a data-target="#taurus" data-toggle="tab">वृषभ</a></li>
        <li><a data-target="#gemini" data-toggle="tab">मिथुन</a></li>
        <li><a data-target="#cancer" data-toggle="tab">कर्क</a></li>
        <li><a data-target="#leo" data-toggle="tab">सिंह</a></li>
        <li><a data-target="#virgo" data-toggle="tab">कन्या</a></li> 
        <li><a data-target="#libra" data-toggle="tab">तुला</a></li>
        <li><a data-target="#scorpio" data-toggle="tab">वृश्चिक</a></li>
        <li><a data-target="#sagittarius" data-toggle="tab">धनु</a></li>
        <li><a data-target="#capricorn" data-toggle="tab">मकर</a></li>
        <li ><a data-target="#aqarius" data-toggle="tab">कुंभ</a></li>  
        <li><a data-target="#pisces" data-toggle="tab">मीन</a></li>         
        </ul>
      </div>
      <div class="col-xs-12 col-md-12 col-sm-12">&nbsp;</div>
        <div class="col-xs-12 col-md-12 col-sm-12">
        <div class="tab-content">
        <!-- <aqarius></aqarius> -->
          <aries></aries>
          <!-- <taurus></taurus> -->
         <!--  <cancer></cancer> -->
         
         <!--  <capricorn></capricorn> -->
       
         <!--  <gemini></gemini> -->
       
       <!--    <leo></leo> -->
      
         <!--  <libra></libra> -->
         
          <!-- <pisces></pisces> -->
        
        <!--   <scorpio></scorpio> -->
         
         <!--  <virgo></virgo> -->
         
        </div>
      </div>
  </div>
   