<div class="row">
          <div class="col-md-12 col-xs-12">
          <div class="col-md-12 col-xs-12"><h3>Your Annual Rashi</h3></div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="yearly-rashi">
                <img src="images/astro-aquarius.jpg" class="pull-left border-box img-responsive" alt="Responsive image">
                <figcaption>Aqarius</figcaption>
                <p>Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas.</p>
              </figure>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="yearly-rashi">
                <img src="images/astro-aries.jpg" class="pull-left border-box img-responsive" alt="Responsive image">
                <figcaption>Aries</figcaption>
                <p>Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas.</p>
              </figure>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="yearly-rashi">
                <img src="images/astro-cancer.jpg" class="pull-left border-box img-responsive" alt="Responsive image">
                <figcaption>Cancer</figcaption>
                <p>Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas.</p>
              </figure>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
            <figure class="yearly-rashi">
                <img src="images/astro-capricorn.jpg" class="pull-left border-box img-responsive" alt="Responsive image">
                <figcaption>capricorn</figcaption>
                <p>Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas.</p>
              </figure>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
            <figure class="yearly-rashi">
                <img src="images/astro-gemini.jpg" class="pull-left border-box img-responsive" alt="Responsive image">
                <figcaption>Gemini</figcaption>
                <p>Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas.</p>
              </figure>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="yearly-rashi">
                <img src="images/astro-leo.jpg" class="pull-left border-box img-responsive" alt="Responsive image">
                <figcaption>Leo</figcaption>
                <p>Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas.</p>
              </figure>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
            <figure class="yearly-rashi">
                <img src="images/astro-libra.jpg" class="pull-left border-box img-responsive" alt="Responsive image">
                <figcaption>Libra</figcaption>
                <p>Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas.</p>
              </figure>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
            <figure class="yearly-rashi">
                <img src="images/astro-pisces.jpg" class="pull-left border-box img-responsive" alt="Responsive image">
                <figcaption>Pisces</figcaption>
                <p>Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas.</p>
              </figure>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="yearly-rashi">
                <img src="images/astro-sagittarius.jpg" class="pull-left border-box img-responsive" alt="Responsive image">
                <figcaption>Sagittarius</figcaption>
                <p>Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas.</p>
              </figure>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="yearly-rashi">
                <img src="images/astro-scorpio.jpg" class="pull-left border-box img-responsive" alt="Responsive image">
                <figcaption>Scorpio</figcaption>
                <p>Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas.</p>
              </figure>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="yearly-rashi">
                <img src="images/astro-taurus.jpg" class="pull-left border-box img-responsive" alt="Responsive image">
                <figcaption>Taurus</figcaption>
                <p>Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas.</p>
              </figure>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <figure class="yearly-rashi">
                <img src="images/astro-virgo.jpg" class="pull-left border-box img-responsive" alt="Responsive image">
                <figcaption>Virgo</figcaption>
                <p>Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas. Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas.</p>
              </figure>
            </div>
          </div>
        </div>  
      </div>