<div class="tab-pane" id="sagittarius">
            <div class="col-xs-12">मेष राशि का स्वामी ग्रह मंगल माना जाता है। भगवान श्री गणेश को मेष राशि का आराध्य देव माना जाता है।</div>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <figure class="daily-img red">
                <img  onerror="this.src='images/noimage.png'" class="img-responsive">
                <figcaption>
                  <p>Daily Rashi</p>
                </figcaption>
                <div class="overlay"> 
                    <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalaqarius5">Click More</button>
                    <!-- Modal -->
                    <div class="modal fade" id="myModalaqarius5" role="dialog">
                      <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">दैनिक</h4>
                          </div>
                          <div class="modal-body">
                            <p>परिवार और मित्र:
                              आज आपका रुझान आध्यात्म की तरफ रहेगा। मंदिर जाने या किसी धार्मिक कार्यक्रम के आयोजन की योजना बना सकते हैं। 
                              रिश्‍ते और प्‍यार:
                              पिछले कुछ समय से जिन गलतफहमियों की वजह से आपके रिश्‍ते ठीक नहीं चल रहे थे, आज वह दूर हो सकते हैं। बातचीत को रिश्ते सुधारने का जरिया बनाएं। 
                              स्‍वास्‍थ्‍य:
                              आज का दिन अच्‍छा बीतेगा, बशर्ते आप तनाव से दूर रहें। 
                              करियर और शिक्षा:
                              आज दिन की शुरुआत खराब हो सकती है, लेकिन शाम होते-होते सब सुधर जाएगा। प्रतिद्वंदी आप पर हावी हो सकते हैं। 
                              बिज़नेस/स्‍टॉक/प्रॉपर्टी:
                              शेयर बाजार से आपको मुनाफा हो सकता है। कारोबार में भी इज़ाफा होगा। आमदनी के नए माध्यम नजर आएंगे। किसी पुराने प्रोजेक्ट या काम को शुरु करने के लिए आज का दिन शुभ है।
                            </p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div> 
                      </div>
                    </div>
                </div>
              </figure>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <figure class="daily-img orange">
                <img  onerror="this.src='images/noimage.png'" class="img-responsive">
                <figcaption>
                  <p>Weekly Rashi</p>
                </figcaption>
                <div class="overlay"> 
                    <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalaqarius6">Click More</button>
                    <!-- Modal -->
                    <div class="modal fade" id="myModalaqarius6" role="dialog">
                      <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">ाप्ताहिक</h4>
                          </div>
                          <div class="modal-body">
                            <p>परिवार और मित्र:
                              आज आपका रुझान आध्यात्म की तरफ रहेगा। मंदिर जाने या किसी धार्मिक कार्यक्रम के आयोजन की योजना बना सकते हैं। 
                              रिश्‍ते और प्‍यार:
                              पिछले कुछ समय से जिन गलतफहमियों की वजह से आपके रिश्‍ते ठीक नहीं चल रहे थे, आज वह दूर हो सकते हैं। बातचीत को रिश्ते सुधारने का जरिया बनाएं। 
                              स्‍वास्‍थ्‍य:
                              आज का दिन अच्‍छा बीतेगा, बशर्ते आप तनाव से दूर रहें। 
                              करियर और शिक्षा:
                              आज दिन की शुरुआत खराब हो सकती है, लेकिन शाम होते-होते सब सुधर जाएगा। प्रतिद्वंदी आप पर हावी हो सकते हैं। 
                              बिज़नेस/स्‍टॉक/प्रॉपर्टी:
                              शेयर बाजार से आपको मुनाफा हो सकता है। कारोबार में भी इज़ाफा होगा। आमदनी के नए माध्यम नजर आएंगे। किसी पुराने प्रोजेक्ट या काम को शुरु करने के लिए आज का दिन शुभ है।
                            </p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div> 
                      </div>
                    </div>
                </div>
              </figure>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <figure class="daily-img blue">
                <img  onerror="this.src='images/noimage.png'" class="img-responsive">
                <figcaption>
                  <p>Monthly Rashi</p>
                </figcaption>
                <div class="overlay"> 
                    <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalaqarius7">Click More</button>
                    <!-- Modal -->
                    <div class="modal fade" id="myModalaqarius7" role="dialog">
                      <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">मासिक</h4>
                          </div>
                          <div class="modal-body">
                            <p>परिवार और मित्र:
                              आज आपका रुझान आध्यात्म की तरफ रहेगा। मंदिर जाने या किसी धार्मिक कार्यक्रम के आयोजन की योजना बना सकते हैं। 
                              रिश्‍ते और प्‍यार:
                              पिछले कुछ समय से जिन गलतफहमियों की वजह से आपके रिश्‍ते ठीक नहीं चल रहे थे, आज वह दूर हो सकते हैं। बातचीत को रिश्ते सुधारने का जरिया बनाएं। 
                              स्‍वास्‍थ्‍य:
                              आज का दिन अच्‍छा बीतेगा, बशर्ते आप तनाव से दूर रहें। 
                              करियर और शिक्षा:
                              आज दिन की शुरुआत खराब हो सकती है, लेकिन शाम होते-होते सब सुधर जाएगा। प्रतिद्वंदी आप पर हावी हो सकते हैं। 
                              बिज़नेस/स्‍टॉक/प्रॉपर्टी:
                              शेयर बाजार से आपको मुनाफा हो सकता है। कारोबार में भी इज़ाफा होगा। आमदनी के नए माध्यम नजर आएंगे। किसी पुराने प्रोजेक्ट या काम को शुरु करने के लिए आज का दिन शुभ है।
                            </p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div> 
                      </div>
                    </div>
                </div>
              </figure>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <figure class="daily-img green">
                <img  onerror="this.src='images/noimage.png'" class="img-responsive">
                <figcaption>
                  <p>Yearly Rashi</p>
                </figcaption>
                <div class="overlay"> 
                    <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalaqarius8">Click More</button>
                    <!-- Modal -->
                    <div class="modal fade" id="myModalaqarius8" role="dialog">
                      <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">वार्षिक</h4>
                          </div>
                          <div class="modal-body">
                            <p>परिवार और मित्र:
                              आज आपका रुझान आध्यात्म की तरफ रहेगा। मंदिर जाने या किसी धार्मिक कार्यक्रम के आयोजन की योजना बना सकते हैं। 
                              रिश्‍ते और प्‍यार:
                              पिछले कुछ समय से जिन गलतफहमियों की वजह से आपके रिश्‍ते ठीक नहीं चल रहे थे, आज वह दूर हो सकते हैं। बातचीत को रिश्ते सुधारने का जरिया बनाएं। 
                              स्‍वास्‍थ्‍य:
                              आज का दिन अच्‍छा बीतेगा, बशर्ते आप तनाव से दूर रहें। 
                              करियर और शिक्षा:
                              आज दिन की शुरुआत खराब हो सकती है, लेकिन शाम होते-होते सब सुधर जाएगा। प्रतिद्वंदी आप पर हावी हो सकते हैं। 
                              बिज़नेस/स्‍टॉक/प्रॉपर्टी:
                              शेयर बाजार से आपको मुनाफा हो सकता है। कारोबार में भी इज़ाफा होगा। आमदनी के नए माध्यम नजर आएंगे। किसी पुराने प्रोजेक्ट या काम को शुरु करने के लिए आज का दिन शुभ है।
                            </p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div> 
                      </div>
                    </div>
                </div>
              </figure>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <figure class="daily-img purple">
                <img  onerror="this.src='images/noimage.png'" class="img-responsive">
                <figcaption>
                  <p>Rashi Stone</p>
                </figcaption>
                <div class="overlay"> 
                    <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalaqarius9">Click More</button>
                    <!-- Modal -->
                    <div class="modal fade" id="myModalaqarius9" role="dialog">
                      <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">भ रत्न</h4>
                          </div>
                          <div class="modal-body">
                            <p>शुभ रत्न: मूंगाशुभ रुद्राक्ष: तीन मुखी</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div> 
                      </div>
                    </div>
                </div>
              </figure>
            </div>
          </div>